  {% extends "layout.html" %}
  {% block body %}
  <div ng-app="shrtnrApp">
    <!-- /container -->
    <div ng-controller="MainController">
      <div class="jumbotron">
			 <div class="row">
					<div class="col-md-6 col-md-offset-3 form-div" id="description">
						<div class="description col-md-12" >
							<p class="lead">
								{% trans %}
									INDEX_PAGE.DESCRIPTION
								{% endtrans %}
							</p>
						</div>
						<form class="form-inline" adtion="#">
							<div class="form-group">
								<label for="url_input" class="sr-only">
									{% trans %}FRORM.LABEL{% endtrans %}
								</label>
    						<input type="text" class="form-control" id="url_input" ng-model="url" placeholder="{% trans %}FRORM.PLACEHOLDER{% endtrans %}">

							</div>
							<button type="submit" class="btn btn-primary" ng-click="short_url()">
                {% trans %}FORM.SUBMIT{% endtrans %}
              </button>
						</form>
      			<div class="header clearfix">
              {% raw %}
              <p class="lead">
                <a target="_blank" ng-show="shorter_url" href="{{shorter_url}}">
                 {{ shorter_url }}
                </a>
              </p>
            </div>
      			<div class="header clearfix">
              {% endraw %}
              <p class="lead" ng-show="shorter_url">
                {% trans %}FORM.STATISTIC{% endtrans %}
                {% raw %}
                <a target="_blank"  href="/statistic/{{ code }}">
                  {{ shorter_url }}
                </a>
              </p>
              {% endraw %}
            </div>
					</div>
				</div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block script %}
  <script>
  (function(angular) {
    'use strict';
  var shrtnrApp = angular.module('shrtnrApp',[]);

  shrtnrApp.controller('MainController', ['$scope', '$http', function($scope, $http) {
    $scope.short_url = function(){
      $http.post('/api/short_url', {url: $scope.url}).then(function(response){
        $scope.shorter_url = response.data.url;
				$scope.code = response.data.code;
      }, function(error){
        console.log(error)
      });
    };
  }]);
  })(window.angular);
  </script>
  {% endblock %}
