<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>shrtnr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Shrtnr</h3>
      </div>
       {% block body %}
       {% endblock %}
    </div>
  </body>
   {% block script %}
   {% endblock %}
</html>

