{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 form-div" id="description">
        <div class="description col-md-12" >
          <h3>
            {% trans %}
              STATISTIC_PAGE.HEADER
            {% endtrans %}
          </h3>
          <p class="lead">
            {{ url }}: {{ clicks }}
            {% trans %}
              STATISTIC_PAGE.CLICKS
            {% endtrans %}
          </p>
        </div>
      </div>
    </div>
{% endblock %}

